html, body {
    margin: 0;
}
body {
    background-color: rgb(200, 241, 241);
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(11, 46, 28);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(175, 236, 209);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(200, 241, 241);
    min-height: 150px;
    font-family: verdana;
    color: rgb(29, 105, 67);
}
.content {
    background-color: rgb(97, 219, 162);
    min-height: 300px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: rgb(4, 54, 38);
}
.footer {
    background-color: rgb(200, 241, 241);
    min-height: 150px;
    font-family: 'Arial Narrow Bold', Helvetica, sans-serif;
    color: rgb(29, 105, 67);
}

.fontsize{
    font-size: 15px;
}

.fontindex{
    font-size: 30px;
}

.contenttwo{
    background-color: rgb(97, 219, 162);
    min-height: 220px;
    padding: 20px;
    font-size: 25px;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: rgb(4, 54, 38);
}

.contentsobre{
    background-color: rgb(97, 219, 162);
    min-height: 400px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: rgb(4, 54, 38);
}